.article-title {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 10px;
}

.main {
  margin: $margin-separated*4 0 0 0;

  .item {
    position: relative;
    padding: 0 0 0 130px;
    margin: 0 0 ($margin-separated*2)+30 0;
    @include respond-to(mobile) {
      padding: 55px 0 0 0;
      text-align: center;
    }
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 10px;
      transform: translateX(50%) translateY(-50%);
      @include respond-to(mobile) {
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(0);
      }
    }

    .description {
      p {
        line-height: 1.3;
        margin: 0 0 5px 0;
        padding: 0;
        &:first-child {
          display: none;
        }
      }
    }
  }
}

#office-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($chair-blue);
    }
  }
}
#window-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($window-blue);
    }
  }
}
#stairs-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($stairs-blue);
    }
  }
}
#apartment-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($sofa-blue);
    }
  }
}
#property-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($door-blue);
    }
  }
}
#house-clean {
  .item {
    &:before {
      @extend .icon;
      @include sprite($house-blue);
    }
  }
}

.gallery-item {
  display: block;
  cursor: pointer;
}
.gallery-fouritem {
  .picture {
    width: 25%;
  }
}
.gallery-fiveitem {
  .picture {
    width: 20%;
    &:last-child {
      @include respond-to(mobile) {
        display: none;
      }
    }
  }

}
.gallery {
  margin: 0 0 60px 0;
  @include clearfix;
  .picture {
    float: left;
    height: 154px;
    @include respond-to(mobile) {
      width: 50%;
      //height: inherit;
    }
  }
}




.custom-title {
  padding: 0 40px 5px 40px;
  border-bottom: 3px dashed $main-backgound;
  margin: 0 0 $margin-separated*2 0;
  .text {
    position: relative;
    font-size: 1.15em;
    font-weight: 200;
    display: inline-block;
    vertical-align: top;
    padding: 13px 50px 3px 20px;
    &:before {
      position: absolute;
      content: "";
      border-radius: 20px 20px 0 0;
      border: 3px dashed $main-backgound;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.about-us {
  article {
    margin: 0 0 0 30px;
    @include respond-to(mobile) {
      margin: 0;
    }
  }
  header {
    font-size: 1.1em;
    margin: 0 0 5px 0;
  }
  .picture {
    display: block;
    margin: auto;
  }
  .description {
    line-height: 1.3;
    margin: 0 0 5px 0;
    padding: 0;
  }
}
