[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}


#contact-us {
  margin: $margin-separated*4 0;
  .content {
    margin: 0 60px 0 30px;
    @include respond-to(tablet) {
      margin: 0 0 0 30px;
    }
    @include respond-to(mobile) {
      margin: 0;
    }
  }

  form {
    &.ng-submitted {
      .custom-input {
        &.ng-invalid {
          border-color: #fff;
          box-shadow: inset 0 0 0 2px $color-error !important;
        }
      }
    }

  }

  .field {
    margin: 0 0 $margin-separated*2 0;
  }

  .button {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: $margin-separated 30px;
    margin: 0 0 $margin-separated*2 0;
  }


  .description {
    p {
      font-size: 0.95em;
      line-height: 1.4;
      margin: 0 0 $margin-separated*2 0;
      padding: 0;
    }
  }

  .success-message {
    font-size: 1.1em;
    line-height: 1.2;
    margin: 30px 0;
  }
}

.custom-input {
  font-size: 1em;
  font-weight: 100;
  border-radius: 3px;
  display: block;
  padding: 20px 15px 30px;
  border: 1px solid #c2c2c2;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;

  -webkit-appearance: none;
  appearance: none;

  &:hover {
    //border: 1px solid $main-backgound;
  }

  &.placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder {
    color: $color-default;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
      //border: 1px solid $main-backgound;
    }
  }
  &:focus {
    &:-moz-placeholder {
      color: transparent;
      //border: 1px solid $main-backgound;
    }
  }
  &:focus {
    &::-moz-placeholder {
      color: transparent;
      //border: 1px solid $main-backgound;
    }
  }
  &:focus {
    &:-ms-input-placeholder {
      color: transparent;
      //border: 1px solid $main-backgound;
    }
  }
}

.error {
  color: $color-error;
  font-size: 0.9em;
  margin-top: 3px;
  text-align: right;
}


.info {
  margin: $margin-separated*2 0 0 0;
  @include respond-to(mobile) {
    text-align: center;
  }
  .text {
    padding: 15px 0;
  }
  .tel,
  .email {
    color: $main-backgound;
    font-weight: 200;
    display: block;
    margin-bottom: $margin-separated;
  }
  .tel {
    font-size: 1.3em;
    @include respond-to(mobile) {
      background-position: center top;
    }
  }
  .tel-icon {
    padding: 20px;
    background:  url('../images/phone.png') no-repeat left top;
    display: block;
    width: 78px;
    height: 78px;
    @include respond-to(mobile) {
      margin: 0 auto 15px;
      background-position: center center;
      box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
      background-color: lighten(rgb(194, 194, 194), 20%);
      border-radius: 10px;
      padding: 20px 60px;
    }
  }
  .email {
    font-size: 1.2em;
  }
}
