$border-radius: 10px;

$button-color-default: #04d18b;

$color-default: #242424;


$main-backgound: #018bd3;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$margin-separated: 15px;

// devices
///$screen: 1440px;
$screen: 1200px;
$tablet: 1024px;
$mobile: 767px;
$iphone6: 375px;
