.head {
  text-align: center;
  color: #fff;
  background: $main-backgound url('../images/main-background.jpg') repeat-x center top;
  padding: 20px 0 60px;
  @include respond-to(tablet) {
    padding-bottom: 45px;
  }
  @include respond-to(mobile) {
    padding-bottom: 30px;
  }
  .logo {
    display: block;
  }
}

.logo {
  @include clearfix;
  margin: 70px 0 0 0;
  &:hover {
    text-decoration: none;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
  }
}

.language {
  text-align: right;
  .item {
    padding: 1px 0 1px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease-in-out;
    &:first-child {
      margin: 0 4px 0 0;
    }
    &:hover {
      border-bottom: 1px solid #fff;
    }
    &.selected {
      border-bottom: 1px solid #fff;
    }
  }
}

.menu {
  margin: 55px 0 0 0;
  padding: 0;
  .main-title {
    text-align: left;
    margin: 0 0 $margin-separated*2 0;
  }
}

.menu-list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  @include respond-to(tablet) {
    margin: 0;
  }
  @include clearfix;
  .title {
    font-size: 1.1em;
    margin: 0;
    @include respond-to(tablet) {
      font-size: 1em;
    }
  }
  li {
    float: left;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    padding: 0 10px;
    text-align: center;
    width: 29%;
    box-sizing: border-box;
    margin-bottom: $margin-separated*2;
    background: $main-backgound;
    &:hover {
      box-shadow: inset 0 0 5px 0 #fff;
    }
    @include respond-to(tablet) {
      padding: 0;
    }
    &:first-child {
      .item {
         &:before {
           @extend .icon;
           @include sprite($chair);
         }
      }
    }
    &:nth-child(2) {
      .item {
        &:before {
           @extend .icon;
           @include sprite($window);
        }
      }
    }
    &:nth-child(3) {
      .item {
        &:before {
           @extend .icon;
           @include sprite($stairs);
        }
      }
    }
    &:nth-child(4) {
      .item {
        &:before {
           @extend .icon;
           @include sprite($sofa);
        }
      }
    }
    &:nth-child(5) {
      .item {
        &:before {
          @extend .icon;
          @include sprite($door);
          left: 13px;
        }
      }
    }
    &:nth-child(6) {
      .item {
        &:before {
           @extend .icon;
           @include sprite($house);
        }
      }
    }
    &:nth-child(3n-1) {
      margin-left: 6.5%;
      margin-right: 6.5%;
    }
    //@include respond-to(screen) {
    //
    //}
    //@include respond-to(tablet) {
    //
    //}
    @include respond-to(mobile) {
      width: 100%;
      float: none;

      &:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .item {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 25px 20px 25px 40px;
      @include respond-to(tablet) {
        padding-right: 0;
      }
      &:visited {
        color: #fff;
      }
      &:hover {
        text-decoration: none;
      }

      &:before {
         position: absolute;
         content: "";
         top: 50%;
         left: 0;
         transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
