$sofa: -0px -0px 47px 31px;
$window: -0px -31px 44px 38px;
$door: -0px -69px 39px 39px;
$sofa-blue: -0px -108px 61px 40px;
$chair: -0px -148px 39px 48px;
$door-blue: -0px -196px 49px 49px;
$stairs: -0px -245px 50px 50px;
$house: -0px -295px 47px 52px;
$window-blue: -0px -347px 60px 52px;
$stairs-blue: -0px -399px 56px 56px;
$house-blue: -0px -455px 51px 57px;
$chair-blue: -0px -512px 50px 62px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../sprites_gen/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
  .icon {
    background-image: url('../sprites_gen/sprite@1.5x.png');
    background-size: 61px 573px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon {
    background-image: url('../sprites_gen/sprite@2x.png');
    background-size: 61px 574px;
  }
}
